body {
    font-family: 'Inter', sans-serif;
    background-color: #334155;
    margin: 0; 
    padding: 0; 
  }
  
  .gradient-bg {
    background: linear-gradient(180deg, #AD00FF, #FE79B9, #2489FF, #334155 75%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .section-margin {
    margin-top: -6rem; 
    position: relative; 
    padding-bottom: 2rem; 
  }
  
  .divider {
    border-top: 1px solid rgba(173, 216, 230, 0.5); 
    margin: 0.5rem 0;
    width: 100%; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 1000px; 
    margin: 0 auto; 
    gap: 2rem; 
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sidebar-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; 
  }
  
  .content-item {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: justify; 
    max-width: 800px; 
    height: auto;
    padding: 0.5rem; 
  }
  
  .title {
    font-weight: bold;
    color: #FEFEFE; 
    margin-bottom: 0.25rem; 
  }
  
  .text-content {
    text-align: justify; 
  }
  
  .bg-indigo-custom {
    background-color: #bfa2f1; 
    border: 1px solid #7C3AED; 
    box-shadow: inset 0 4px 8px rgba(124, 58, 237, 0.5); 
  }
  
  .bg-blue-custom {
    background-color: #95c0eb;
    border: 1px solid #0A66C2; 
    box-shadow: inset 0 4px 8px rgba(10, 102, 194, 0.5); 
  }
  
  .bg-red-custom {
    background-color: #ec9f87; 
    border: 1px solid #F24E1E;
    box-shadow: inset 0 4px 8px rgba(242, 78, 30, 0.5); 
  }
  
  .bg-black-custom {
    background-color: #c5bebe; 
    border: 1px solid #000000; 
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5); 
  }
  
  .text-white-custom {
    color: #000000; 
  }
  
  
